SERVER_PORT=


REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=


MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

JWT_SECRET=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=


DB_URL=
DB_USERNAME=
DB_PASSWORD=
DB_CLASS=